/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
    /* --- ESTILOS DE INDEX.HTML --- */
/* propiedades del contenedor padre */
.contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:repeat(3,1fr) ;
    font-family:'Merriweather', serif;
    
/* grid template areas*/
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    z-index:100;
}
/* estilo del header padre flex */
.padre-flex{
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    align-items: flex-end;
}
/* estilo del logo */
.encabezadologo img{
    display: flex;
    width: 30%;
}
/* estilo titulo empresa */
.tituloEncabezado a{
    text-decoration: none;
    list-style: none;
    color: #002B5B;
    font-size: 40pt;
}
.tituloEncabezado{
    align-items: bottom;
}
/* estilo link contacto*/
.contactoEncabezado a{
    text-decoration: none;
    list-style: none;
    color: #002B5B;
    font-size: 20pt
}
/* forzar estilo de bootstrap*/
.menu-hamburguesa{
    background-image: linear-gradient(to right, #2678ca, #11385f);
}




/* estilos del main*/
main{
    grid-area: main;
}
/* estimlo tamañp Banner principal imagen central */
.image-container{
    width: 100%;
    height: 100%;
}




/*estilos del footer*/
footer{
    grid-area: footer;
}
.flex-container{
    background-image: linear-gradient(to right, #2678ca, #11385f);
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}
/* estilo y posicion imagen flotante Whatsapp */
.logoWhatsapp{
    position: fixed;
    top: 52rem; right: 1rem;
    width: 5%;
}
/* logo redes sociales */
.logoRedes{
    margin-top: -3rem;
    width: 15%;
    margin-left: 1rem;
}
/*edicion del copyricht */
.copyPrincipal{    
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.tamanoCopy{
    font-size: 20pt;
}



/* --- ESTILOS DE INTRO_SERVCIOS.HTML --- */
/* estilos de las tarjetas */
.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 100vh;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: 100%;
    border: solid 1px white;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-align: center;
}
.mainTarjetas{
    background-image: url();
    background-color: #11385f;
}

.btn-whatsapp-mobile {
    display: none;
}
.btn-whatsapp-desktop {
    display: block;
}

/* --- VAINAS MOBILE --- */
@media (max-width:576px)  {
    .tituloEncabezado {
        display: none;
    }
    footer {
        bottom: 0;
        position: fixed;
    }
    .contenedor{
        height: none;
    }
    .btn-whatsapp-mobile {
        display: block;
    }
    .btn-whatsapp-desktop {
        display: none;
    }
    .logoRedes {
        width: 20%;
        margin-left: 1rem;
        display: inline-block;
    }
    .flex-container {
        flex-flow: wrap;
    }
    h3.tamanoCopy {
        font-size: 10px;
    }
    .image-container {
        min-height: 700px;
    }
    .image-container img {
        object-fit: cover;
        height: 943px;
    }
    .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
}
@media (max-width:576px)  {
    .tituloEncabezado {
        display: none;
    }
    footer {
        bottom: 0;
        position: fixed;
    }
    .contenedor{
        height: none;
    }
    .btn-whatsapp-mobile {
        display: block;
    }
    .btn-whatsapp-desktop {
        display: none;
    }
    .logoRedes {
        width: 20%;
        margin-left: 1rem;
        display: inline-block;
    }
    .flex-container {
        flex-flow: wrap;
    }
    h3.tamanoCopy {
        font-size: 10px;
    }
    .image-container {
        min-height: 700px;
    }
    .image-container img {
        object-fit: cover;
        height: 943px;
    }
    .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
}












/* --- PRESENTACION.HTML --- */
/* Posicionamiento Imagenes y video */
.imgSolucionando{
    margin-left: 1275px;
}
.videoPresentacion{
    position: absolute;
    left: 500px; top: 300px;
}
/* Team JRL */
.teamTitulo{
    text-align: center;
    color: #002B5B;
    font-size: 30pt;
    font-family:'Merriweather', serif;
}
/* Edicion de texto momentaneo team JRL */
.conceptoEquipo{
    text-align: center;
    height: 100px; width: 1000px;
    line-height: 1.6;
    box-sizing:border-box;
    border: #002B5B 2px solid;
    margin-left: 600px;
}
/* posicion de foto del team jrl*/
.imgTeam{
    margin-left: 600px;
}
/* --- SERVICIOS.HTML --- */
/* tamaño y ordenamiendo de imagenes */
.imgConsultoriaP{
    height: 400px; width: 400px;
}
.imgInnovacionP{
    height: 400px; width: 400px;
    margin-left: 1350px;
}
.imgMarketingP{
    height: 400px; width: 400px;
}
