@import "../utilities/variables";

//nestin//
/*estilos de tarjetas*/
main{
    .tarjetas{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 100vh;
        flex-wrap: wrap;
            .card{
                display: flex;  
                margin-top: 4rem;
                margin-bottom: 5rem;
                text-align: center;
            }
    }
}