@import "../utilities/variables";

//nestin//
/*estilos de tarjetas*/
.mainTarjetas{
    .tarjetas{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
            .card{
                .card-title{
                    font-size: 16.5pt;
                    text-align: center;
                } 
                .card-text{
                    text-align: justify;
                }
            }
    }
}