/* --- PRESENTACION.HTML --- */
/* Posicionamiento Imagenes y video */

main{
    .cajaPresentacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 840px;
        .imgSolucionando{
            align-self: end;
            
        }
        .videoPresentacion{
            position: absolute;
            left: 500px; top: 200px;
        }
        .imgRendimiento{
            align-self: end;
        }
    }
    .presentacionEquipo{
        display: flex;
        align-items: center;
        justify-content: center;
        /* posicion de foto del team jrl*/
        div{
            text-align: center;
            padding: 1.5rem;
            align-items: center;
            width: 1000px;
            /* Team JRL */
            .teamTitulo{
                color: #002B5B;
                font-size: 30pt;
                font-family:'Merriweather', serif;
            }
            /* Edicion de texto momentaneo team JRL */
            .conceptoEquipo{
                text-align: justify;
                line-height: 1.6;
                box-sizing:border-box;
            }
        }
    }  
    
}


