@import '../utilities/variables';

main{
    .contenedorServicios{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .cajaConsultoria{
            border: solid 2px $blanco;
            border-radius: 15px;
            margin: 2rem;
            width: 750px;
            height: 400px;
            .tituloServicio1{
                font-size: 12pt;
                text-decoration: underline;
                text-align: right;
                margin-right: 18rem;
                padding-top: 2rem;
            }
            div{
                display: flex;
                flex-direction: row;
                .imgConsultoriaP{
                    padding: 1.5rem;
                    padding-top: 0%;
                    width: 300px;
                    height: 300px;
                    }
                p{
                    padding: 2rem;
                    font-size: 8pt;
                    text-align: justify;
                }
            }
        }
        .cajaInnovacion{
            border: solid 2px $blanco;
            border-radius: 15px;
            margin: 2rem;
            width: 750px;
            height: 400px;
            .tituloServicio2{
                font-size: 12pt;
                text-decoration: underline;
                text-align: right;
                margin-right: 18rem;
                padding-top: 2rem;
            }
            div{
                display: flex;
                flex-direction: row-reverse;
                .imgInnovacionP{
                    padding: 1.5rem;
                    padding-top: 0%;
                    width: 300px;
                    height: 300px;
                    }
                p{
                    padding: 2rem;
                    font-size: 8pt;
                    text-align: justify;
                }
            }  
        }
        .cajaMarketing{
            border: solid 2px $blanco;
            border-radius: 15px;
            margin: 2rem;
            width: 750px;
            height: 400px;
            .tituloServicio3{
                font-size: 12pt;
                text-decoration: underline;
                text-align: right;
                margin-right: 18rem;
                padding-top: 2rem;
            }
            div{
                display: flex;
                flex-direction: row;
                .imgMarketingP{
                    padding: 1.5rem;
                    padding-top: 0%;
                    width: 300px;
                    height: 300px;
                    }
                p{
                    padding: 2rem;
                    font-size: 8pt;
                    text-align: justify;
                }
            }    
        }
    }
}